
.container{
    margin-top: 50px;
}

form {
    padding: 25px;
    width: 80%;
    margin-top: 10px;
}

.form-wrapper{
    border: 1px solid rgb(235, 229, 229);
    border-radius: 10px;
    padding: 25px;
    width: 800px;
    margin-bottom: 20px;
}

.card {
    /* width: 800px; */
    margin-top: 20px;
    display: none;
}

.form-control{
    background-color: rgb(236, 238, 245);
    color: rgb(48, 45, 45);
    border-radius: 10px;
    padding: 10px;
    outline: none;
}

.news{
    padding: 25px;
}

.form-control:focus{
    outline-color: rgb(241, 91, 91);
}

.error{
    border: 1px solid rgb(192, 57, 57);
    color: rgb(211, 26, 26);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    display: none;
}

.fake{
    color: rgb(187, 61, 61);
}

.real{
    color: rgb(78, 172, 78);
}
/* .btn-primary{
    float: right;
} */